<div class="col-md-10 col-md-offset-1">
  <div class=row>
    <div class="col-md-3">
      <img class="img-responsive" src="../assets/images/IMG_0035.jpg">
    </div>
    <div class="col-md-9">
      <p>
        I am a front end developer by trade, and a law enforcement interloper by necessity. My experience includes website design, full stack applications, and a little bit of game design on the side. Prime user experience and seemless interface are what I strive for most in my work, and I am constantly learning more languages and techniqiues to further refine my craft. At this time, I am most interested in a fulltime oppurtunity, but I also has a soft spot for freelance work, so feel free to reach out.
      </p>
    </div>
  </div>
</div>
