<div class="container">

  <div class="col-md-10 col-md-offset-1">

    <div class=row>

      <div class="col-md-3">
        <img class="img-responsive img-rounded center-block" src="../assets/images/tom_G_school.jpg">
      </div>

      <div class="col-md-9">
        <p>
          Over the course of my 7+ year development career, I can confidently say that I've done a little bit of (just about) everything. My most recent roles revolve primarlily around writing microservices and API integrations using Amazon Web Services, but I have worked on a number of front and back end applications that have utilized a wide swath of technologies and languages. I do most of my coding in JavaScript (and it's derivative frameworks/libraries), but I am always up for a challenge when it comes to learning a new technology or language.
        </p>
      </div>

    </div>

  </div>

</div>
