<div class="container">

  <div class="col-md-10 col-md-offset-1">

    <div class=row>

      <div class="col-md-3">
        <img class="img-responsive img-rounded center-block" src="../assets/images/tom_G_school.jpg">
      </div>

      <div class="col-md-9">
        <p>
          I am a front end developer by trade, with a background in public service. My experience includes website design, full stack applications, and a little bit of game design on the side. Prime user experience and seemless interface are what I strive for most in my work, and I am constantly learning more languages and techniqiues to further refine my craft. At this time, I am most interested in a full-time opportunity, but I also have a soft spot for freelance work, so feel free to reach out.
        </p>
      </div>

    </div>

  </div>

</div>
