<nav class="navbar navbar-fixed-bottom">

  <div class="row">

    <div class="container">
      <div class="col-xs-3">
        <p class="text-right">
          TNR
          <br>
          -III-
        </p>
      </div>
      <div class="col-xs-9">
        <a routerLink="home"      routerLinkActive='active'>Home<span class="sr-only">(current)</span></a><br>
        <a routerLink="about-me"  routerLinkActive='active'>About</a><br>
        <a routerLink="portfolio" routerLinkActive='active'>Portfolio</a><br>
        <a routerLink="resume"    routerLinkActive='active'>Resumè</a><br>
        <a routerLink="contact"   routerLinkActive='active'>Contact</a><br>
      </div>
    </div>
  </div>
</nav>
