nav {
  font-family: 'Oswald', sans-serif;
}

li > a {
  color: #000000;
  font-size: 3em;
}

.icon-bar {
  background-color: grey;
}

.navbar-default {
  color: #ffffff;
  background-color: #ffffff;
  border: #ffffff;
}

button {
    border: 1px solid grey;
}

@media only screen and (max-width: 992px) {
  li {
    font-size: .75em;
  }
}
