<div *ngFor="let portProj of portProjs; let i = index" class="container">

  <div *ngIf="portProj.id === 0 || portProj.id%2 === 0"
      class="row" id="{{ portProj.id }}">
    <div class="col-md-7">
      <img class="img-responsive img-rounded pull-left" src="{{ portProj.img }}"/>
    </div>
    <div class="col-md-5">
      <h3> {{ portProj.title }} </h3>
      <p>  {{ portProj.desc }}  </p>
      <div class=text-center>
        <a class="btn" role="button" href="{{ portProj.url }}">View</a>
      </div>
    </div>
  </div>

  <div *ngIf="portProj.id === 1 || portProj.id%2 !== 0"
      class="row" id="{{ portProj.id }}">
    <div class="col-md-5">
      <h3> {{ portProj.title }} </h3>
      <p>  {{ portProj.desc }}  </p>
      <div class=text-center>
        <a class="btn" role="button" href="{{ portProj.url }}">View</a>
      </div>
    </div>
    <div class="col-md-7">
      <img class="img-responsive img-rounded pull-left" src="{{ portProj.img }}"/>
    </div>
  </div>

</div>
