div {
  font-family: 'Oswald', sans-serif;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0px;
 color: #AB3B3D;
 font-size: 20px;
 padding: 20px 60px 20px 60px;
 border: solid #AB3B3D 2px;
 text-decoration: none;
}

.btn:hover {
 background: #AB3B3D;
 text-decoration: none;
 color: #ffffff
}

img {
  border: 1px solid black;
}
