<div class="container">

  <h1>Developer Experience</h1>

  <div *ngFor="let devExp of devExps; let i = index">

    <h3>{{devExp.title}}</h3>

    <h4>{{devExp.date}}</h4>
    <h4> Projects Completed: </h4>
      <div *ngFor="let subDevExp of devExp['projects']">
        <p>
          <b>{{subDevExp.name}}</b>
        </p>
        <p>
          {{subDevExp.desc}}
        </p>
      </div>
  </div>

  <h1>Education</h1>

  <div *ngFor="let eduExp of eduExps; let i = index">
    <p> {{ eduExp.school }} </p>
  </div>

</div>
