<div class="container">

  <h1>Developer Experience</h1>

  <div *ngFor="let devExp of devExps; let i = index">

    <h3>{{devExp.title}}</h3>

    <h4>{{devExp.date}}</h4>
    <h4> Projects Completed: </h4>
      <div *ngFor="let subDevExp of devExp['projects']">
        <p>
          <b>{{subDevExp.name}}</b>
        </p>
        <p>
          {{subDevExp.desc}}
        </p>
      </div>
  </div>

  <h1>Education</h1>

  <div *ngFor="let eduExp of eduExps; let i = index">
    <p><b> {{ eduExp.degree }} </b></p>
    <p><em> {{ eduExp.school }} </em></p>
    <p> {{ eduExp.date }} </p>
  </div>

  <h1> Languages/Libraries/Frameworks/Skills </h1>

  <div class="row">

    <div class="col-md-3">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'front'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'framework'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'back'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'dev'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

  </div>

</div>
