<div class="container">
  <div class="col-md-9">
    <h1>Developer Experience</h1>

    <div *ngFor="let devExp of devExps; let i = index">
      <h3>{{ devExp.title }}</h3>

      <h4>{{ devExp.date }}</h4>
      <h4>Projects Completed / Duties:</h4>
      <div *ngFor="let subDevExp of devExp['projects']">
        <p>
          <b>{{ subDevExp.name }}</b>
        </p>
        <p>
          {{ subDevExp.desc }}
        </p>
      </div>
    </div>

    <h1>Education</h1>

    <div *ngFor="let eduExp of eduExps; let i = index">
      <p>
        <b> {{ eduExp.degree }} </b>
      </p>
      <p>
        <em> {{ eduExp.school }} </em>
      </p>
      <p>{{ eduExp.date }}</p>
    </div>
  </div>

  <div class="col-md-3">
    <h1>Skills</h1>

    <span> Front End </span>

    <div class="row">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'front'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

    <span> Frameworks / Libraries </span>

    <div class="row">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'framework'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

    <span> Backend / Databases </span>

    <div class="row">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'back'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>

    <span>Development Process </span>

    <div class="row">
      <ul *ngFor="let mySkill of mySkills; let i = index">
        <li *ngIf="mySkill.category == 'dev'">
          {{ mySkill.skill }}
        </li>
      </ul>
    </div>
  </div>
</div>
